* {
    box-sizing: border-box;
}

.task-title{
	font-size: 1.3em;
	font-weight: 600;
	margin-left: 20px;
}

/*******************     TASK 1.1   *********************/
.menu {
    width: 200px;
    margin-left: 20px;
    background-color: #f8e69e;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 0 0 #8e0909;
}

.list-menu {
    list-style-type: none;
    padding: 5px 0 5px 5px;
    margin: 8px 0 8px 5px;
    color: #8e0909;
    font-weight: bold;
}

.list-menu>li {
    padding-bottom: 5px;
}

/********************************************************/

/*******************     TASK 1.2   *********************/
.registration-form {
    width: 400px;
    background-color: #008ccb;
    border: 3px solid #0071af;
    color: white;
    font-family: 'Arial', sans-serif;
    position: relative;
    left:20px;
}

.registration-form>.title {

    font-size: 1.5em;
    font-weight: lighter;

    margin-top: 20px;
    margin-left: 20px;
}

.registration-form>.line {
    border-color: #53b2dc;
    height: 1px;
    width: 100%;
    border: 1px solid #53b2dc;
}

.registration-form>form{
	margin-top:20px;
	margin-left: 15px;
}

.registration-form>form #email{
	width: 350px;
}

.registration-form>form label{
	display: block;
}

.registration-form>form input{
	display: inline;
}

.registration-form>form>div{
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
	padding-right: 30px;
}

.registration-form>form #password, #password-repeat{
	width: 160px;
}

.registration-form>form>button {
    background-color: #ffe288;
    height: 25px;
    border: 0;

    margin-top: 20px;
    margin-bottom: 20px;
}

/********************************************************/

/*******************     TASK 1.3 (first)  *********************/

.dd-menu-container {
    color: #0000ff;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.dd-menu-content {
    display: none;
    position: absolute;
    top: 20px;
    background-color: #fff;
    width: 100px;
    padding:5px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    border: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.dd-menu-container {
    margin-left: 20px;

}

.dd-menu-title {
    color: #0000ff;
    text-decoration: underline;
    padding: 2px 5px 5px 5px;  
}

.dd-menu-title::after{
	content: "";
	position: absolute;
	bottom: -5px;
	display: block;
	height: 5px;
	width: 100%;
    background-color: #fff;
    z-index: 2;
}

.dd-menu-content>span {
    display: block;
}

.dd-menu-container:hover .dd-menu-title{
    color: black;
    background-color: #fff;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.dd-menu-container:hover .dd-menu-content{
	display: block;
}

.dd-menu-content>span:hover{
	color: white;
	background-color: #30a6fa;
}

/********************************************************/
