@media screen and (max-width: 479px)
{
    .main-content
    {
        @include center-content(70%);
    }

    .subscribtion__icon{
        width: 100%;
    }

    .articles{
        flex-direction: column;   
    
        &__article{
            flex:1 1 auto;
        }
    }

    .aside{
        display: none;
    }
}

@media screen and (min-width:480px)
{
    .main-content
    {
        @include center-content(80%);
    }

    .subscribtion__icon{
        width: 70px;
    }

    .articles{
        flex-direction: row;  
        flex-wrap: wrap; 
    
        &__article{
            flex-basis: 47%;
            margin: 5px;
        }
    }

    .article__icon{
        height: 180px;
    }

    .aside{
        display: none;
    }
}

@media screen and (min-width:769px)
{
    .subscribtion{
        display: flex;
        flex-direction: row;
        align-items: center;

        &__desc{
            flex-basis: 65%;
        }

        &__input{
            flex-basis: 35%;
        }
    }

    .articles{
        justify-content: space-between;

        &__article{
            flex-basis: 23%;
        }
    }
}

@media screen and (min-width:993px)
{
    .wrapper{
        @include center-content(80%);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .main-content
    {
        flex-basis: 77%;
        margin: 0;
    }

    .subscribtion{
        &__icon{
            width: 70px;
        }
    }

    .articles{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .article__icon{
        height: 180px;
    }

    .aside{
        display: block;
        font-size: 12px;
        flex-basis: 20%;
    }

    .post__title{
        text-transform: uppercase;
    }
}