@media screen and (max-width: 479px)
{
    .main-content
    {
        @include center-content(70%);
    }

    .subscribtion__icon{
        width: 100%;
    }

    .articles{
        flex-direction: column;   
    
        &__article{
            flex:1 1 auto;
        }
    }

    .aside{
        display: none;
    }
}

@media screen and (min-width:480px) and (max-width: 768px)
{
    .main-content
    {
        @include center-content(80%);
    }

    .subscribtion__icon{
        width: 70px;
    }

    .articles{
        flex-direction: row;  
        flex-wrap: wrap; 
    
        &__article{
            flex-basis: 47%;
            margin: 5px;
        }
    }

    .article__icon{
        height: 180px;
    }

    .aside{
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width: 992px)
{
    .main-content
    {
        @include center-content(80%);
    }

    .subscribtion{
        display: flex;
        flex-direction: row;
        align-items: center;

        &__desc{
            flex-basis: 65%;
        }

        &__input{
            flex-basis: 35%;
        }

        &__icon{
            width: 70px;
        }
    }

    .articles{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__article{
            flex-basis: 23%;
        }
    }

    .article__icon{
        height: 180px;
    }

    .aside{
        display: none;
    }
}

@media screen and (min-width:993px) and (max-width: 1176px)
{
    .main-content
    {
        @include center-content(62%);
        margin: 15px 28% 15px;
    }

    .subscribtion{
        display: flex;
        flex-direction: row;
        align-items: center;

        &__desc{
            flex-basis: 65%;
        }

        &__input{
            flex-basis: 35%;
        }

        &__icon{
            width: 70px;
        }
    }

    .articles{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__article{
            flex-basis: 23%;
        }
    }

    .article__icon{
        height: 180px;
    }

}