@media screen and (max-width: 479px)
{
    .footer{
        @include center-content(70%);

        &__menu-item{
            font-size: 8px;
        }

        &__copyright{
            font-size: 7px;
        }
    }
}

@media screen and (min-width:480px) and (max-width: 768px)
{
    .footer{
        @include center-content(80%);
        justify-content: space-between;

        &__menu-item{
            font-size: 8px;
        }

        &__copyright{
            font-size: 7px;
        }
    }
}

@media screen and (min-width:769px) and (max-width: 992px)
{
    .footer{
        @include center-content(80%);
        justify-content: space-between;

        &__menu-item{
            font-size: 10px;
        }

        &__copyright{
            font-size: 9px;
            margin-top: 5px;
        }
    }
}

@media screen and (min-width:993px) and (max-width: 1176px)
{
    .footer{
        @include center-content(80%);
        justify-content: space-between;

        &__menu-item{
            font-size: 10px;
        }

        &__copyright{
            font-size: 9px;
            margin-top: 5px;
        }
    }
}