*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

body{
    background-color: #3cb371;
}

/*           TITLE           */

h1{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 25px 0;
}

/*              FLEX               */

.row{
    display: flex;
    flex-direction: row;
}

.row-item{
    flex: 1;
    margin: 0 5px;
}


.column{
    display:flex;
    flex-direction: column;
}

.column-item{
    flex: 1;
    margin: 5px 0;
}

/*          NAVIGATION             */

.nav-item{
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
}

.input-nav-item{
    background-color: #8ad1aa;
    border: 0;
    text-align: start;
}

.nav-item:hover{
    background-color: #94d2b0bf;
    color: #fff;
    border-color: #94d2b0bf;
}

/*        MAIN CONTENT          */
.container{
    margin: 0 auto;
}

.article, .article-image{
    background-color: #fff;
}

.article-image>img{
    width: 100%;
}

.article .title, .article-image .title{
    font-size: 18px;
    font-weight: 600;

    flex: 0;
}

.article .content, .article-image .content{
    padding: 15px;
}


.comments{  
    justify-content: space-between;
    align-items: flex-end;
    flex:1;
}


/*         MEDIA QUERIES        */

/*mobile*/
@media screen and (max-width: 800px){
    /*            Navigation            */

    .nav-panel{
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 0 auto 10px auto;
    }

    .nav-item{
        order:1;
        border: 0.5px solid #eee;
        text-align: start;
        margin: 0 5px;
    }

    .input-nav-item{
        display: none;
    }

    .nav-sign-in{
        order:0;
        margin-bottom: 10px;
    }

    /*      Main Content      */

    .container{
        width: 95%;
    }
}

/*tablet*/    
@media screen and (min-width:801px) and (max-width: 1000px){
    /*            Navigation            */

    .nav-panel{
        width: 95%;
        display: flex;
        flex-direction: row;
        margin: 0 auto 10px auto;
    }

    .nav-item{
        flex: 1 1 auto;
        margin: 0 5px;
    }

       /*      Main Content      */

    .container{
        width: 95%;
        display: flex;
        flex-direction: row;
    }

    .row-md-lg{
        display: flex;
        flex-direction: row;
    }

    .no-margin-left{
        margin-left: 0; 
    }

    .no-margin-right{
        margin-right: 0; 
    }

}  

/*desktop*/    
@media screen and (min-width: 1001px){
    /*            Navigation            */

    .nav-panel{
        width: 70%;
        display: flex;
        flex-direction: row;
        margin: 0 auto 10px auto;
    }

    .nav-item{
        flex: 1 1 auto;
        margin: 0 5px;
    }

     /*      Main Content      */

     .container{
        width: 70%;
        display: flex;
        flex-direction: row;
    }

    .row-lg{
        display: flex;
        flex-direction: row;
    }

    .row-item-2
    {
        flex: 1;
        margin: 0 5px;
        flex:2;
    }

    .row-lg img{
        width: 50%;
        order: 1;
    }

    .row-md-lg{
        display: flex;
        flex-direction: row;
    }

    .no-margin-left{
        margin-left: 0; 
    }

    .no-margin-right{
        margin-right: 0; 
    }
}   
