/*    */

.header{   
    display: flex;
    flex-direction: column;
}

.header__image-block{
    font-family: 'Dancing Script', cursive;
    position: relative;
    width: 70%;
    margin:auto;
}

.header__image{
    width: 100%;
}

.header__title{
    display: block;
    background-color: rgba(255, 255, 255, 0.623);
    height: 30px;
    width: 100%;
    padding-left: 10px;
    position: absolute;
    bottom: 30px;
}

.header__description{
    display: block;
    font-size: 12px;
    font-family: 'Dancing Script', cursive;
    background-color: #000;
    color: #fff;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
}

.header__photo-mark{
    align-self: flex-end;
    margin-right: 15%;
    font-size: 10px;
}
 

/****  Navigation   *****/
.navigation{
    font-family: 'Overlock', cursive;
}

.navigation__menu{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 15px auto;
    border-bottom: rgba(214, 214, 214, 0.7) solid 1px;
}

.navigation__menu-item{
    flex:1 1 auto;
    margin: 15px 5px;
    font-size: 14px;
    color: rgb(82, 121, 93)
}

.navigation__menu-item:hover{
    color: rgb(174, 115, 204);
}

.navigation__brand{
    width: 70%;
    margin: auto;
}

.navigation__image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}