@import '../common/mixins';
@import'../common/media/media__header';

.header{   
    display: flex;
}

.header__image-block{
    font-family: 'Dancing Script', cursive;
    position: relative;
}

.header__image{
    width: 100%;
}

.header__title{
    display: block;
    background-color: rgba(255, 255, 255, 0.712);
    padding-left: 10px;
    position: absolute;
}

.header__description{
    display: block;   
    background-color: #000;
    color: #fff;
    padding-left: 10px;
    position: absolute;
}

 

/****  Navigation   *****/
.header__navigation{
    font-family: 'Overlock', cursive;
    display: flex;
}

.navigation__menu{
    display: flex;
}

.navigation__icon{
    width: 25px;
    height: 25px;
}

.navigation__menu-item{
    flex:1 1 auto;
    font-size: 14px;
    color: rgb(82, 121, 93);

    &:hover{
        cursor: pointer;
    }
}

.navigation__image{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-fashion{
    background: url('../images/menu-icons/fashion-icon.svg') no-repeat;
}

.icon-beauty{
    background: url('../images/menu-icons/beauty-icon.svg') no-repeat;
}

.icon-travel{
    background: url('../images/menu-icons/travel-icon.svg') no-repeat;
}

.icon-culture{
    background: url('../images/menu-icons/culture-icon.svg') no-repeat;
}

.icon-about{
    background: url('../images/menu-icons/about-icon.svg') no-repeat;
}

.icon-twitter{
    background: url('../images/twitter.svg') no-repeat;
}

/*   MENU   */

.header__menu{
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Alata', sans-serif;
    width: 100%;
}

.menu__item{
    background-color: rgba(232, 232, 232, 0.55);
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    border-right: 0.5px solid rgba(232, 232, 232, 0.71);
    border-left: 0.5px solid rgba(232, 232, 232, 0.71);

    &>a{
        color: rgb(82, 121, 93);
    }

    &:hover{
        background-color: rgba(200, 200, 150, 0.81);
        cursor: pointer;
    }
}