@import '../common/_mixins.scss';
@import '../common/media/media__main-content';

.subscribtion{ 
    padding: 5px 10px;
    margin-bottom: 20px;
    border-top: rgba(214, 214, 214, 0.7) dashed 1.5px;
    border-bottom: rgba(214, 214, 214, 0.7) dashed 1.5px;
}

.subscribtion__desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribtion__icon{
    margin-right: 5px;
}

.subscribtion__image{
    width: 100%;
}

.subscribtion__text{
    flex: 1 1 auto;
    font-size: 10px;
}

.subscribtion__email{
    width: 65%;
}

.subscribtion__button{
    width: 33%;
}


/*              ARTICLES                */
.articles{
    display: flex;
}

.article{
    display: flex;
    flex-direction: column;
}

.article__content-item{
    margin: 5px 0;
}

.article__image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.article__title{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(82, 121, 93);
}

.article__title:hover, .article__title:active{
    text-decoration: none;
    color: rgb(255, 137, 54);
}

.article__text{
    font-size: 12px;
}

.article__footer{
    font-size: 10px;
}

.article__date{
    color: #999;
    &::after{
        content:"/ ";
    }
}

.article_link-to-read{
    color: rgb(82, 121, 93);
    text-decoration: none;
    &::after{
        content: ">>";
        font-size: 0.8em;
        color: rgb(82, 121, 93);
    }

    &:hover{
        text-decoration: underline;
    }
}

.post__link{
    text-decoration: none;
}