@import '../common/_mixins.scss';
@import '../common/media/media__main-content';

.subscribtion{ 
    padding: 5px 10px;
    margin-bottom: 20px;
    border-top: rgba(214, 214, 214, 0.7) dashed 1.5px;
    border-bottom: rgba(214, 214, 214, 0.7) dashed 1.5px;
}

.subscribtion__desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subscribtion__icon{
    margin-right: 5px;
}

.subscribtion__image{
    width: 100%;
}

.subscribtion__text{
    flex: 1 1 auto;
    font-size: 8px;
}

.subscribtion__email{
    width: 65%;
}

.subscribtion__button{
    width: 33%;
}


/*              ARTICLES                */
.articles{
    display: flex;
}

.article{
    display: flex;
    flex-direction: column;
}

.article__content-item{
    margin: 5px 0;
}

.article__image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.article__title{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(82, 121, 93);
}

.article__text{
    font-size: 12px;
}

.article__footer{
    font-size: 10px;
}

.article__date{
    color: #999;
    &::after{
        content:"/ ";
    }
}

.article_link-to-read{
    color: rgb(82, 121, 93);
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.aside__post{
    display: flex;
    flex-direction: column;
}

.post__item{
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.post__title{
    border-bottom: rgba(214, 214, 214, 0.7) dashed 0.5px;
    padding-bottom: 3px;
}

.post__link{
    display: flex;
    text-decoration: none;
    border: 0.5px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    color: rgb(82, 121, 93);

    .icon{
        display: block;
        width: 15px;
        height: 15px;
        background-size: contain;
    }
}
