* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

/***** Common classes   *****/
.bold {
  font-weight: 600;
}

@media screen and (max-width: 479px) {
  .header {
    width: 70%;
    margin: 15px auto;
    flex-direction: column;
  }
  .header__title {
    height: 20px;
    width: 100%;
    bottom: 20px;
  }
  .header__description {
    font-size: 10px;
    height: 20px;
    width: 100%;
    bottom: 0;
  }
  .header__image-block::after {
    content: "*photo by Jane Doe";
    right: 0px;
    bottom: -10px;
  }
  .header__menu {
    display: none;
  }
  .header__navigation {
    flex-direction: column;
  }
  .navigation__menu {
    border-bottom: rgba(214, 214, 214, 0.7) solid 1px;
    flex-direction: row;
  }
  .navigation__menu-item {
    margin: 15px 5px;
  }
  .navigation__icon {
    display: none;
  }
  .navigation__brand {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    width: 80%;
    margin: 15px auto;
    flex-direction: column;
  }
  .header__title {
    height: 20px;
    width: 100%;
    bottom: 20px;
  }
  .header__description {
    font-size: 10px;
    height: 20px;
    width: 100%;
    bottom: 0;
  }
  .header__image-block::after {
    content: "*photo by Jane Doe";
    right: 0px;
    bottom: -10px;
  }
  .header__menu {
    display: none;
  }
  .header__navigation {
    flex-direction: row-reverse;
    align-items: center;
  }
  .navigation__icon {
    display: none;
  }
  .navigation__menu-item {
    margin: 15px 5px;
  }
  .navigation__brand {
    width: 40%;
    margin: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .header {
    width: 80%;
    margin: 15px auto;
    flex-direction: column;
  }
  .header__title {
    font-size: 20px;
    padding: 10px;
    height: 40px;
    width: fit-content;
    bottom: 100px;
  }
  .header__description {
    font-size: 15px;
    padding: 5px;
    height: 30px;
    width: fit-content;
    bottom: 70px;
  }
  .header__image-block::after {
    content: "photo by Jane Doe";
    color: #777;
    right: 5px;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.812);
    border-radius: 2px;
    padding: 2px;
  }
  .header__menu {
    display: flex;
  }
  .header__navigation {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .navigation__menu {
    flex-basis: 50%;
    flex-direction: row;
  }
  .navigation__menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 5px;
  }
  .navigation__brand {
    width: 30%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1176px) {
  .header {
    width: 80%;
    margin: 15px auto;
    flex-direction: row;
  }
  .header__title {
    font-size: 20px;
    padding: 10px;
    height: 40px;
    width: fit-content;
    bottom: 100px;
  }
  .header__description {
    font-size: 15px;
    padding: 5px;
    height: 30px;
    width: fit-content;
    bottom: 70px;
  }
  .header__image-block::after {
    content: "photo by Jane Doe";
    color: #555;
    right: 5px;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.612);
    border-radius: 2px;
    padding: 2px;
  }
  .header__menu {
    display: flex;
  }
  .header__navigation {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .navigation__menu {
    flex-direction: column;
  }
  .navigation__menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 5px;
  }
  .navigation__brand {
    width: 50%;
  }
}

.header {
  display: flex;
}

.header__image-block {
  font-family: 'Dancing Script', cursive;
  position: relative;
}

.header__image-block::after {
  font-size: 8px;
  position: absolute;
  font-family: 'Alata', sans-serif;
}

.header__image {
  width: 100%;
}

.header__title {
  display: block;
  background-color: rgba(255, 255, 255, 0.712);
  padding-left: 10px;
  position: absolute;
}

.header__description {
  display: block;
  background-color: #000;
  color: #fff;
  padding-left: 10px;
  position: absolute;
}

/****  Navigation   *****/
.header__navigation {
  font-family: 'Overlock', cursive;
  display: flex;
}

.navigation__menu {
  display: flex;
}

.navigation__icon {
  width: 25px;
  height: 25px;
}

.navigation__menu-item {
  flex: 1 1 auto;
  font-size: 14px;
  color: #52795d;
}

.navigation__menu-item:hover {
  color: #ff8936;
  cursor: pointer;
}

.navigation__image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fashion-icon {
  background: url("../images/menu-icons/fashion-icon.svg") no-repeat;
}

.beauty-icon {
  background: url("../images/menu-icons/beauty-icon.svg") no-repeat;
}

.travel-icon {
  background: url("../images/menu-icons/travel-icon.svg") no-repeat;
}

.culture-icon {
  background: url("../images/menu-icons/culture-icon.svg") no-repeat;
}

.about-icon {
  background: url("../images/menu-icons/about-icon.svg") no-repeat;
}

.twitter-icon {
  background: url("../images/twitter.svg") no-repeat;
}

/*   MENU   */
.header__menu {
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Alata', sans-serif;
  width: 100%;
  margin-top: -5px;
}

.menu__item {
  background-color: rgba(232, 232, 232, 0.55);
  flex-grow: 1;
  padding: 5px 0;
  text-align: center;
  border-right: 0.5px solid rgba(232, 232, 232, 0.71);
  border-left: 0.5px solid rgba(232, 232, 232, 0.71);
  color: #52795d;
}

.menu__item:hover {
  background-color: rgba(200, 200, 150, 0.81);
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .main-content {
    width: 70%;
    margin: 15px auto;
  }
  .subscribtion__icon {
    width: 100%;
  }
  .articles {
    flex-direction: column;
  }
  .articles__article {
    flex: 1 1 auto;
  }
  .aside {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .main-content {
    width: 80%;
    margin: 15px auto;
  }
  .subscribtion__icon {
    width: 70px;
  }
  .articles {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .articles__article {
    flex-basis: 47%;
    margin: 5px;
  }
  .article__icon {
    height: 180px;
  }
  .aside {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .main-content {
    width: 80%;
    margin: 15px auto;
  }
  .subscribtion {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .subscribtion__desc {
    flex-basis: 65%;
  }
  .subscribtion__input {
    flex-basis: 35%;
  }
  .subscribtion__icon {
    width: 70px;
  }
  .articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles__article {
    flex-basis: 23%;
  }
  .article__icon {
    height: 180px;
  }
  .aside {
    display: none;
  }
}

@media screen and (min-width: 993px) and (max-width: 1176px) {
  .wrapper {
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .main-content {
    flex-basis: 77%;
  }
  .subscribtion {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .subscribtion__desc {
    flex-basis: 65%;
  }
  .subscribtion__input {
    flex-basis: 35%;
  }
  .subscribtion__icon {
    width: 70px;
  }
  .articles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles__article {
    flex-basis: 23%;
  }
  .article__icon {
    height: 180px;
  }
  .aside {
    font-size: 12px;
    margin-left: 5%;
  }
  .post__title {
    text-transform: uppercase;
  }
}

.subscribtion {
  padding: 5px 10px;
  margin-bottom: 20px;
  border-top: rgba(214, 214, 214, 0.7) dashed 1.5px;
  border-bottom: rgba(214, 214, 214, 0.7) dashed 1.5px;
}

.subscribtion__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribtion__icon {
  margin-right: 5px;
}

.subscribtion__image {
  width: 100%;
}

.subscribtion__text {
  flex: 1 1 auto;
  font-size: 10px;
}

.subscribtion__email {
  width: 65%;
}

.subscribtion__button {
  width: 33%;
}

/*              ARTICLES                */
.articles {
  display: flex;
}

.article {
  display: flex;
  flex-direction: column;
}

.article__content-item {
  margin: 5px 0;
}

.article__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.article__title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #52795d;
}

.article__title:hover, .article__title:active {
  text-decoration: none;
  color: #ff8936;
}

.article__text {
  font-size: 12px;
}

.article__footer {
  font-size: 10px;
}

.article__date {
  color: #999;
}

.article__date::after {
  content: "/ ";
}

.article_link-to-read {
  color: #52795d;
  text-decoration: none;
}

.article_link-to-read::after {
  content: ">>";
  font-size: 0.8em;
  color: #52795d;
}

.article_link-to-read:hover {
  text-decoration: underline;
}

.post__link {
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .footer {
    width: 70%;
    margin: 15px auto;
  }
  .footer__menu-item {
    font-size: 8px;
  }
  .footer__copyright {
    font-size: 7px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer {
    width: 80%;
    margin: 15px auto;
    justify-content: space-between;
  }
  .footer__menu-item {
    font-size: 8px;
  }
  .footer__copyright {
    font-size: 7px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .footer {
    width: 80%;
    margin: 15px auto;
    justify-content: space-between;
  }
  .footer__menu-item {
    font-size: 10px;
  }
  .footer__copyright {
    font-size: 9px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1176px) {
  .footer {
    width: 80%;
    margin: 15px auto;
    justify-content: space-between;
  }
  .footer__menu-item {
    font-size: 10px;
  }
  .footer__copyright {
    font-size: 9px;
    margin-top: 5px;
  }
}

.footer {
  border-top: solid rgba(214, 214, 214, 0.7) 1px;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 50px;
}

.footer__menu {
  display: flex;
  flex-direction: row;
}

.footer__menu-item {
  flex: 1 1 auto;
  color: #52795d;
}

.footer__menu-item:not(:last-child)::after {
  content: "|";
  color: #999;
  margin-left: 3px;
}

.footer__copyright {
  color: #999;
}

.footer__links {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.footer__links .link {
  display: block;
  width: 26px;
  margin: 3px;
}

.footer__links .link__image {
  max-width: 100%;
  max-height: auto;
}
