* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

/***** Common classes   *****/
.bold {
  font-weight: 600;
}

/*    */
.header {
  display: flex;
  flex-direction: column;
}

.header__centered-with-sidemargins {
  width: 70%;
  margin: 15px auto;
}

.header__image-block {
  font-family: 'Dancing Script', cursive;
  position: relative;
}

.header__image {
  width: 100%;
}

.header__title {
  display: block;
  background-color: rgba(255, 255, 255, 0.623);
  height: 20px;
  width: 100%;
  padding-left: 10px;
  position: absolute;
  bottom: 20px;
}

.header__description {
  display: block;
  font-size: 10px;
  font-family: 'Dancing Script', cursive;
  background-color: #000;
  color: #fff;
  height: 20px;
  width: 100%;
  padding-left: 10px;
  position: absolute;
  bottom: 0;
}

.header__photo-mark {
  align-self: flex-end;
  font-size: 8px;
}

/****  Navigation   *****/
.navigation {
  font-family: 'Overlock', cursive;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  border-bottom: rgba(214, 214, 214, 0.7) solid 1px;
}

.navigation__menu-item {
  flex: 1 1 auto;
  margin: 15px 5px;
  font-size: 14px;
  color: #52795d;
}

.navigation__menu-item:hover {
  color: #ff8936;
}

.navigation__brand {
  width: 50%;
  margin: auto;
}

.navigation__image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-content__centered-with-sidemargins {
  width: 70%;
  margin: 15px auto;
}

.subscribtion {
  padding: 5px 0;
  margin-bottom: 20px;
  border-top: rgba(214, 214, 214, 0.7) dashed 1.5px;
  border-bottom: rgba(214, 214, 214, 0.7) dashed 1.5px;
}

.subscribtion__desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribtion__icon {
  width: 100%;
  margin-right: 5px;
}

.subscribtion__image {
  width: 100%;
}

.subscribtion__text {
  flex: 1 1 auto;
  font-size: 10px;
}

.subscribtion__email {
  width: 69%;
}

.subscribtion__button {
  width: 29%;
}

/*              ARTICLES                */
.articles {
  display: flex;
  flex-direction: column;
}

.article {
  display: flex;
  flex-direction: column;
}

.article__content-item {
  flex: 1 1 auto;
  margin: 5px 0;
}

.article__image {
  width: 100%;
}

.article__title {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #52795d;
}

.article__title:hover, .article__title:active {
  text-decoration: none;
  color: #ff8936;
}

.article__text {
  font-size: 12px;
}

.article__footer {
  font-size: 10px;
}

.article__date {
  color: #999;
}

.article_link-to-read {
  color: #52795d;
}
